
.card {

    box-shadow: 2px 2px  rgba(0,0,0,0.2);
    max-width: 300px;
    max-height: 900px;
    margin: auto;
    text-align: center;    
    transition:0.3s;
    flex-direction: column;
    border-radius: 10px;
    background-color: #15273f;
    transform-style: preserve-3d;
    transform: perspective(2000px);
}

h4 {
    font-family: 'Outfit', sans-serif;
}
p {
    font-family: 'Outfit', sans-serif;
}
text {
    font-family: 'Outfit', sans-serif;
}
div {
    font-family: 'Outfit', sans-serif;
}


.priceETH{
    color:aqua;
    font-size: 22px
}

.card:hover {
    box-shadow: 20px 20px rgba(0, 0, 0, 0.2);
}

.container {
    /* box-sizing: 100px; */
    padding: 0px 16px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20vh;
    height: 500px;
}

div.outer { position: relative; height: 24px; }
div.outer img { position: absolute; left: 0; bottom: 0; border-color: rgb(255, 255, 255); border-radius: 100%; border-style: solid;}


.block {
    transform: translateZ(100px);
}



img {
    
    border-radius: 12px;
    object-fit: cover;
    position: relative;
    top: 12px;
    
    /* height: 214px; */
}


body {
    background-color: rgba(13,26,45,255);
}

.center-me {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}



/* .svg-icon {
    display: inline-flex;
    align-self: center;
  }
  .svg-icon svg {
    height:1em;
    width:1em;
  }
  .svg-icon.svg-baseline svg {
    top: .125em;
    position: relative;
  } */